:root {
    --primary: rgb(30, 30, 30);
    --tertiary: rgb(214, 214, 214);
    --tag-hover: rgb(190, 190, 190);
}

.dark {
    --primary: rgb(218, 218, 219);
    --tertiary: rgb(65, 66, 68);
    --tag-hover: rgb(85, 86, 88);
}